/* .container {
  padding: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #2d3748;
}

.row {
  display: flex;
  gap: 16px;
  height: 50px;
}

.box {
  /* width: 50%; */
 /* border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.left {
  background: #616b7b;
  width:70% ;
}

.right {
  background: #766994;
  width: 30%;
} */
